<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IEmpInfoDao">
<insert id="add" parameterType="entity.EmpInfo">
insert into emp(empNo,ename) values(SEQEMPNO.nextval,#{eName})
</insert>
</mapper>