<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IDeptOraInfoDao">
<resultMap type="DeptOraInfo" id="DeptMap">
<id column="deptno" property="id"/>
<result column="dname" property="dName"/>
<collection property="emps" resultMap="EmpMap">
</collection>
</resultMap>
<resultMap type="EmpOraInfo" id="EmpMap">
<result column="ename" property="eName"/>
</resultMap>

<select id="getAll" resultMap="DeptMap">
select d.deptno,d.dname,e.ename from emp e,dept d where d.deptno=e.deptno order by d.deptno
</select>

</mapper>