<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.IGoodsInfoDao">
<resultMap type="GoodsInfo" id="goodsMap">
<id property="id" column="id"></id>
<result property="gName" column="gName"/>
<result property="price" column="price"/>
<!-- 这里开始配置商品类型和商品的关系 -->
<association property="goodsTypeInfo" javaType="GoodsTypeInfo">
<id property="id" column="typeId"></id>
<result property="typeName" column="typeName"/>
</association>
</resultMap>
<select id="getAll" resultMap="goodsMap">
SELECT g.*,gt.typeName FROM goodsinfo g JOIN goodstypeinfo gt ON g.typeid = gt.id
</select>
</mapper>