<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <!-- 通过配置请求方式过滤器，实现可以识别put和delete的请求 -->
  <filter>
  <filter-name>HiddenHttpMethodFilter</filter-name>
  <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
   <filter-name>HiddenHttpMethodFilter</filter-name>
   <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 所有的请求都让springmvc看一眼，好确认是让springmvc继续处理，还是执行原来请求 -->
  <servlet>
  <!-- 默认命名为springmvc,这样不需要继续配置其他的信息，springmvc自己会认到对应的springmvc的配置文件 -->
  <servlet-name>mvc</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
  <init-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>classpath:config/springmvc.xml</param-value>
  </init-param>
  </servlet>
  <!-- mapping  -->
  <servlet-mapping>
  <servlet-name>mvc</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
